* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
    
}

.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url(background.svg); 
    display: flex;
    width: 100vw;
    height: 100vh;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
    background-color: #121d3e;
    gap: 5%;
}

header nav a {
    color: #EAECF4;
    font-size: 1em;
}

#myHome {
    margin-right:auto;
    font-size: 1.5em;
}

footer {
    align-self: flex-end;
    padding: 20px 50px;
    background-color: #121d3e;
}

main {

}
/*.parent {
    /* 
    display: flex;
    flex-direction: row;
  }
  
  @media screen and (min-width: 390px) and (max-width: 767px) {
    .container {
      height: 100%;
    }
  
    .container .navbar {
      flex-direction: column;
    }
  }
  header {
    background-color: #01161E;
  }
  
  header nav {
    flex-grow: 9;
    gap: 20px;
    margin: 2px;
    padding: 10px;
    
  }
  
  header nav a {
    color: #EFF6E0;  
  }
  
  header nav a:first-child {
    margin-right:auto;
  }
  
  footer {
     background-color: #01161E;
     align-self: flex-end;
  } */